.reloj {
    width:200px;
    height:200px;
    border-radius:50px;
    position:relative;
    display:flex;
    font-size:20px;
    overflow:hidden;
  }
  
  .reloj .numeros{
    position:absolute;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:white;
    border-radius:50px;
  }
  
  .reloj .background{
    --dimension: 75%;
    position:absolute;
    height:var(--dimension);
    width:var(--dimension);
    background-image:url("../../../../images/background.svg")
  }

  .reloj .horasContainer{
    --dimension: 100%;
    position:absolute;
    height:var(--dimension);
    width:var(--dimension);
  }
  
  .reloj .minutosContainer{
    --dimension:70%;
    position:absolute;
    width: var(--dimension);
    height: var(--dimension);
    display:none;
  }

  .reloj .minutosContainer.minutosContainerShow{
    display:block;
  }
  
  .reloj .minutos {
    --rotation:0;
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;
    transform:rotate(var(--rotation));
  }
  
  .reloj .minutos p{
    font-size:0.6em;
  }
  
  .reloj .horas {
    --rotation:0;
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;
    transform:rotate(var(--rotation));
  }
  
  .reloj .numero1 {--rotation:30deg;}
  .reloj .numero2 {--rotation:60deg;}
  .reloj .numero3 {--rotation:90deg;}
  .reloj .numero4 {--rotation:120deg;}
  .reloj .numero5 {--rotation:150deg;}
  .reloj .numero6 {--rotation:180deg;}
  .reloj .numero7 {--rotation:210deg;}
  .reloj .numero8 {--rotation:240deg;}
  .reloj .numero9 {--rotation:270deg;}
  .reloj .numero10 {--rotation:300deg;}
  .reloj .numero11 {--rotation:330deg;}
  
  .numero{
    transform:rotate(calc(var(--rotation)*(-1)));
  }
  
  
  .reloj .manillaContainer {
    --rotation:0;
    position:absolute;
    width:30px;
    bottom:50%;
    left:50%;
    transform-origin:bottom;
    transform:translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    z-index:10;
    display:flex;
    justify-content: baseline;
    transition:rotate 0,2s;
  }
  
  .reloj .manillaContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
  }
  
  .reloj .manillaContainer.minutero{
    height:42%;
  }
  
  .reloj .manillaContainer.horario{
    height:35%;
  }
  
  .reloj .manilla{
    height:calc(100% - 10px);
    background-color:black;
    border:1px solid white;
  }
  
  .reloj .manillaContainer.minutero .manilla{
    width:5px;
  }
  
  .reloj .manillaContainer.horario .manilla{
    width:10px;
  }
  
  
  .manillaContainer .agarrador{
    position:relative;
    width:100%;
    height:10px;
    display:none;
    align-items: center;
    justify-content: center;
  }
  
  .manillaContainer.active:hover .agarrador{
    display:flex;
  }
  
  .reloj .logo{
    position:absolute;
    background-color:black;
    z-index:20;
    width: 70px;
    height:70px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius:50%;
    background-image:url("../../../../images/ES.svg");
    background-position:center;
    border:1px solid black;
  }