:root{
    --yellow: #F8CA00;
    --orange: #E97F02;
    --magenta: #BD1550;

    --white: #F7F7F7;
  }


input[type="radio"].CustomRadio,
input[type="checkbox"].CustomCheckBox{
    /*hides the radio button*/
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--white);
    margin: 0;
        /*custom unchecked radio styles*/
        font: inherit;
        color: currentColor;

        border: 0.15em solid black;
        /*checked state styles*/
    display: grid;
    place-content: center;
}

input[type="radio"].CustomRadio{
    /*custom unchecked radio styles*/
    border-radius: 50%;
    width: 1.15em;
    height: 1.15em;
}

input[type="checkbox"].CustomCheckBox {
    border-radius: 0.15em;
    width: 1em;
    height: 1em;
}
    
input[type="radio"].CustomRadio::before,
input[type="checkbox"].CustomCheckBox::before {
    content: "";

    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--orange);
}

input[type="radio"].CustomRadio::before{
    border-radius: 50%;
    width: 0.65em;
    height: 0.65em;
}

input[type="checkbox"].CustomCheckBox::before {
    width: 0.5em;
    height: 0.5em;
}


input[type="radio"].CustomRadio:checked::before,
input[type="checkbox"].CustomCheckBox:checked::before{
    transform: scale(1);
    }

.CustomButton {
    padding: 10px 20px;
    border-radius:50px;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    min-width: 150px;
}

.CustomButton.buttoninactive{
    background-color:var(--yellow);
    color:gray;
}

.CustomButton.button1{
    background-color:var(--magenta);
    color:var(--white);
}

.CustomButton.button1:hover{
    background-color:var(--white);
    color:var(--magenta)
}

.CustomButton.button2{
    background-color:var(--orange);
    color:var(--white);
}

.CustomButton.button2:hover{
    background-color:var(--magenta);
    color:var(--white)
}


.CustomdropdownContainer select{
    display:none;
}


.CustomdropdownContainer{
    background-color:var(--white);
    width:300px;
    height:40px;
    position:relative;
    border-radius:20px;
    border:3px solid var(--magenta);
    z-index:100;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.CustomdropdownContainer::after{
    content:"\25BC";
    position:absolute;
    display:flex;
    width:20%;
    right:0;
    top:0;
    height:100%;
    align-items: center;
    justify-content: center;
    border-radius:0 20px 20px 0;
    color:var(--magenta);
}

.CustomdropdownContainer .item{
    min-height: 30px;
    display:flex;
    align-items: center;
    padding-left:20px;
}

.CustomdropdownContainer .item:hover{
    background-color:var(--yellow);
}

.itemsList {
    position:absolute;
    width:calc(100% + 6px);
    top:36px;
    left:-3px;
    display:none;
    flex-direction:column;
    background-color: var(--white);
    height:150px;
    overflow-y: scroll;
    border-radius: 0 0 0 20px;
    border:3px solid var(--magenta);
    /* border-top: 0px; */
}

.itemListShow{
    display:flex;
}

.CustomdropdownContainer.dropdownShow{
    border-radius: 20px 20px 0 0;
}

.CustomdropdownContainer.dropdownShow::after{
    content:"\25B2";
    border-radius: 0 20px 0 0;
}

.CustomdropdownContainer .item.selected{
background-color:var(--orange);
}

.CustomdropdownContainer .selectedItem{
    min-height: 100%;
    display:flex;
    align-items: center;
    padding-left:20px;
    color:black;
}

.CustomdropdownContainer .selectedItem.selectedItemEmpty {
    color:gray;
}

.CustomdropdownContainerInactive{
    border:3px solid var(--orange);
    background-color:var(--yellow);
}

.CustomdropdownContainerInactive .selectedItem.selectedItemEmpty{
    color:var(--orange);
}

.CustomdropdownContainerInactive::after{
    color: var(--orange);
}

input[type="text"].CustomTextInput{
    height:40px;
    border-radius:20px;
    padding:3px 20px;
    border:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"].CustomTextInput:focus{
    border:3px solid var(--magenta);
    padding: 0 17px;
    outline:none;
}

