.nextBackContainer{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.nextBackContainer p{
    color:var(--magenta);
    font-weight:900;
}

.nextBack{
    display:flex;
    width:100%;
    justify-content: center;
    gap: 50px;
}
.buttonLabel{
    display:flex;
    justify-content: center;
    align-items: center;
}

.buttonLabelIcon{
    transform: translateY(2px);
}