/*Loadin rotating logo*/

.LoadingImage {
    height: 200px;
    width: 200px;
    pointer-events: none;
    background-image:url("../../images/ES.svg");
    background-position: center;
    background-size:contain;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .LoadingImage {
      animation: App-logo-spin infinite 5s linear;
    }
  }
  
  .LoadingMarkup {
    width:100%;
    height:100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:absolute;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  