
*,
*:before,
*:after {
  box-sizing: border-box;
}

.pages{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(248, 202, 0, 0.8);
    min-height:50vh;
    width:70%;
    padding:50px;
    border-radius: 50px;
  }

.home {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    gap:50px;
}

label, td, th, .title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1.5em;
}





/*---------------------------------explanation ----------------------------------*/
#config {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:100%;
    gap:20px;
}

#form{
    display:flex;
    flex-direction:column;
    gap:20px;
    margin-top:30px;    
}

#explanation, #esType{
    display:flex;
    flex-direction: column;
    /* justify-content: space-between;
    align-items: center; */
}

.title{
    font-weight: bold;
}

.radioAlternatives{
    display:flex;
    gap:20px;
}

.radioButton{
    display:flex;
    align-items: center;
    gap:3px
}

.contentTable{
    background-color:rgba(225,225,225,0.5);
    padding:20px;
    border-spacing: 10px;
}

.contentTable th{
    text-align: left;
}

.contentTable .estTime{
    min-width: 50px;
    background-color:white;
    vertical-align: middle;
    text-align: center;
    color:rgb(190, 190, 190);
}

.estTime.active{
    color: black;
}

#buttons {
    display:flex;
    gap:20px;
}