
*,
*:before,
*:after {
  box-sizing: border-box;
}

.pages span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pages{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(248, 202, 0, 0.8);
    min-height:50vh;
    width:100%;
    min-width:390px;
    max-width:800px;
    padding:40px;
    border-radius: 50px;
  }

  .pages .tutorialContent{
    z-index:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:50px;
    align-items: center;
    width:100%;
  }

label, td, th, .title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1.5rem;
}


/*---------------------------------explanation ----------------------------------*/
#config {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:100%;
    gap:20px;
}

#form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

#explanation, #esType{
    display:flex;
    flex-direction: column;
}

.title{
    font-weight: bold;
}

.radioAlternatives{
    display:flex;
    gap:20px;
}

.radioButton{
    display:flex;
    align-items: center;
    gap:3px
}

.contentTable{
    background-color:rgba(225,225,225,0.5);
    padding:20px;
    border-spacing: 10px;
}

.contentTable th{
    text-align: left;
}

.contentTable .estTime{
    min-width: 50px;
    background-color:white;
    vertical-align: middle;
    text-align: center;
    color:rgb(190, 190, 190);
}

.estTime.active{
    color: black;
}

#buttons {
    display:flex;
    margin-top:30px;
    gap:20px;
}

/* /////////////////Parts0*/

.phraseTemplateHalf#partsHalfLeft{
    align-items:flex-end;
}

.phraseTemplateHalf#partsHalfRight{
    align-items:flex-start;
    gap:5px;
}

/* .phraseTemplateHalf .minutosContainer .minutos{
    display:none;
} */

#horario .manilla.analogHighlight,
#minutero .manilla.analogHighlight,
.minutosContainer.analogHighlight .minutos,
.horasContainer.analogHighlight .horas{
    color:var(--magenta);
    display:block;
}

#horario .manilla.analogHighlight{
    background-color:var(--magenta);
}

#minutero .manilla.analogHighlight{
    background-color:var(--magenta);
}

.minutosContainer.analogHighlight .minutos{
    color:var(--magenta);
}

.reloj .minutosContainer.analogHighlight{
    display:block;
}

.horasContainer.analogHighlight .horas{
    color:var(--magenta);
    font-weight:bolder;
}

#parts02{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:var(--white);
    width:100%;
    height:100px;
    padding:30px;
    border-radius: 50px;
}

.switchKlockansDelar {
    padding: 10px 20px;
    border-radius:50px;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    min-width: 150px;
    background-color:var(--orange);
    color:var(--white);
}

.switchKlockansDelar.active{
    background-color:var(--magenta);
    color:var(--white)
}

/* /////////////////Phrase11*/

#phrase11{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    width:100%;
}

/* /////////////////MinuteArm0*/

#minuteArm0 span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#minuteArmContainer{
    width:100%;
    display:grid;
    grid-template-columns: repeat(3,200px);
    grid-gap:20px;
    align-items: center;
    justify-content: center;
}

.minutearmGrid .writtenTime{
    width:200px;
}

.minutearmGrid{
    min-height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.minutearmGrid1{
    order:3
}

.minutearmGrid2{
    order:1;
    grid-column:span 3;
}

.minutearmGrid3{
    order:4;
    justify-content: start;
}

.minutearmGrid4{
    order:2;
    justify-content: end;
}

/* /////////////////minutes15 and 30*/

#minutes15and30{
    display:flex;
    width:100%;
    flex-direction:column;
    gap:20px;
}

.minutes15and30FieldContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.minutes15and30FieldContainer h2{
    width:auto;
}

#minutes15and30 .minutes15and30FieldCheck{
    height:40px;
    width:40px;
    color:var(--magenta);
}
.minutes15and30FieldcheckContainer{
    height:40px;
    width:40px;
    background-color:var(--white);
    border-radius:20px;
}

#minutes15and30AnswersContainer{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:20px;
}



.phrase10 .phrase20Phrase,
#phrase12EscritoContainer .phrase20Phrase{
    border: 3px solid black;
    background-color:var(--yellow);
    height:40px;
    padding:10px;
    border-radius:20px;
    font-weight:1000;
    display:flex;
    justify-content: center;
    align-items: center;
}


/* /////////////////PhraseTemplate1*/

.writtenTime{
    border: 3px solid black;
    /* height:40px;    */
    /* min-height:40px; */
    padding:10px;
    border-radius:20px;
    font-weight:1000;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.writtenTime.phrase0{
    background-color:var(--white);
}
.writtenTime.phrase1{
    background-color:var(--yellow);
}
.writtenTime.phrase2{
    background-color:var(--orange);
}

.phraseTemplate{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
    gap:20px;
}

.phraseTemplateContent{
    display:flex;
    flex-direction:column;
    width:80%;
    min-width:390px;
    background-color: var(--orange);
    padding:20px 20px 30px 20px;
    border-radius:20px;
}

.phraseTemplateHalfsContainer {
    display:flex;
    width:100%;
    gap:10px;
    margin-top:20px;
}

.phraseTemplateHalf{
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.phraseTemplateHalf p{
    text-align: center;
}

.phraseTemplatePic{
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 4/3;
    border-radius: 20px;
}

.phrase101{background-image: url('./tutorial/images/squirrelEating.jpg');}
.phrase102{background-image: url('./tutorial/images/sleeping.jpg');}
.phrase108{background-image: url('./tutorial/images/squirrel1.jpg');}
.phrase109{background-image: url('./tutorial/images/squirrel2.jpg');}
.phrase1010{background-image: url('./tutorial/images/squirrel3.jpg');}
.phrase1011{background-image: url('./tutorial/images/squirrel4.jpg');}
.phrase1012{background-image: url('./tutorial/images/squirrel5.jpg');}
.phrase1013{background-image: url('./tutorial/images/squirrelEating.jpg');}
.phrase1014{background-image: url('./tutorial/images/squirrel6.jpg');}
.phrase1015{background-image: url('./tutorial/images/squirrel7.jpg');}
.phrase1016{background-image: url('./tutorial/images/squirrel8.jpg');}
.phrase1017{background-image: url('./tutorial/images/squirrel9.jpg');}
.phrase1018{background-image: url('./tutorial/images/squirrel10.jpg');}
.phrase1019{background-image: url('./tutorial/images/squirrel11.jpg');}
.phrase1020{background-image: url('./tutorial/images/squirrel12.jpg');}
.phrase1021{background-image: url('./tutorial/images/squirrel13.jpg');}

.phrase1025{background-image: url('./tutorial/images/squirrelDrinking.jpg');}
.phrase1026{background-image: url('./tutorial/images/squirrelSculpture.jpg');}

#phraseTemplateTask1{
    padding:10px 0;
    align-self: flex-start;
}

.phraseTemplate #dropdownContainer{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:20px;
}

.phraseTemplate #dropdownContainer h2{
    text-align: center;
}

.continuePrompt{
    width:100%;
    text-align: center;
    font-weight:900;
    color:var(--magenta);
    /* margin:20px 0; */
}

/* /////////////////PhraseTemplate2*/

#phraseTemplate2{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    width:100%;
}

#phraseTemplate2 .phraseTemplateHalf h2{
text-align: center;
}
#phraseTemplate2 #timeAndButton{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

#phraseTemplate2 #timeAndButton .CustomButton{
    min-width:auto;
    width:fit-content;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* /////////////////Phrases2and3*/

.phraseTemplate #casaBlanca{
    background-image: url('./tutorial/images/squirrelWhiteHouse.jpg');
    width:50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 4/3;
    border-radius: 20px;
}

#phrases2and3Content{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: baseline;
}

.phraseTemplate #phrases2and3Question{
    text-align: center;
}
.phraseTemplateHalfRight2och3{
    height:150px;
}

/* /////////////////Periods0*/

.phraseTemplate .periods0Half{
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.phraseTemplate .periods0Half .periods0HalfHalf{
    height:50%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.phraseTemplate .periods0Half .periods0HalfHalf h2{
    width:100%;
}

.completeClock{
    background-color:black;
    padding:20px;
    border-radius:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.writtenTime.ending{
    border:3px solid white;
    background-color:black;
}

.writtenTime.ending.ending1{
    color:white;
}

.writtenTime.ending.ending2{
    color:var(--yellow);
}

.writtenTime.ending.ending3{
    color:var(--orange);
}

#periods0UnderContent{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    
}

#periods0UnderContent h2{
    text-align: center;
}

#periods0UnderContent #horaEscogidaPhantom{
    height:40px;
}

#periods0UnderContent #horaEscogida{
    height:40px;
    font-weight:1000;
    background-color:var(--white);
    /* color:white; */
    display:flex;
    align-items: center;
    justify-content: center;
    padding:0 20px;
    border-radius:20px;
}

.periods0table {
    width:250px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:var(--orange);
    border-radius:20px;
    padding:20px;
    gap: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.periods0table .periods0row{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.periods0table .periods0row .periods0cell{
    font-weight: 1000;
}

.periods0table .periods0row .periods0cellRight{
    text-align: center;
    width:30%
}

.periods0table .periods0row .periods0cellLeft{
    text-align: center;
    width:70%;
}

/* /////////////////answer0*/
 .answer0 {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
 }

 .answer0 h2{
    text-align: center;
 }

 /* /////////////////answer1*/

.phraseTemplate .phraseTemplateHalf.answerTemplateHalfRight .answerTemplateHalfRightUnderElement{
    width:50%;
}

.phraseTemplate .phraseTemplateHalf.answerTemplateHalfRight > h2{
    text-align: center;
}

.phraseTemplate .phraseTemplateHalf.answerTemplateHalfRight #answerTemplateHalfRightUnder{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px;
    width:100%;
}

.phraseTemplate .phraseTemplateHalf.answerTemplateHalfRight #answerTemplateHalfRightUnder h2{
    width:80px;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: center;
    background:var(--white);
    border-radius:50%;
    border:3px solid black;
}

.phraseTemplate .phraseTemplateHalf.answerTemplateHalfRight #answerTemplateHalfRightUnder p{
    text-align: start;
}

 /* /////////////////confetti*/

 .pages .confetti.invisible{
    display:none;
}

 /* /////////////////media Queries*/

  @media screen and (max-width: 900px) {
    .phraseTemplate .phraseTemplateHalfsContainer{
        justify-content: center;
    }
    
  }

  @media screen and (max-width: 850px) {
    
    #minuteArmContainer{
        grid-template-columns: repeat(2,200px);
    }

    .minutearmGrid{
        min-height:70px;
    }

    .minutearmGrid1{
        order:1;
        grid-row:span 3;
    }
    
    .minutearmGrid2{
        order:2;
        grid-column:span 1;
    }
    
    .minutearmGrid3{
        order:3;
        justify-content: start;
    }
    
    .minutearmGrid4{
        order:4;
        justify-content: end;
    }

    #periods0Content .phraseTemplateHalfsContainer{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }

    #periods0Content{
        width:auto;
    }

    #periods0Content .periods0Half{
        width:100%;
    }

    #periods0Content .periods0Half .periods0HalfHalf{
        height: 150px;
    }
   
  }

@media screen and (max-width: 700px) {
    label, td, th, .title{
        font-size:1.2rem;
    }
   
    .pages{
        width:100%;
        
    }

    .phraseTemplateContent{
        width:100%;
        border-radius:0;
    }

    .phraseTemplate #casaBlanca{
        width:80%;
    }

}

@media screen and (max-width: 550px) {

    .pages{
        border-radius:0;
    }

    .phraseTemplateHalfsContainer{
       flex-direction: column;
       gap:50px;
    }

    .phraseTemplateHalfsContainer.parts0{
        flex-direction: row;
        gap:20px;
     }

     #parts02{
       height:150px; 
     }

    .phraseTemplateHalf{
        width:auto;
    }

    .phraseTemplateHalfRight{
        height:275px;
    }

    .phraseTemplatePic{
        height:auto;
        width:80%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        aspect-ratio: 4/3;
        border-radius: 20px;
    }

    .phraseTemplate #casaBlanca{
        width:90%;
    }

    #minuteArmContainer{
        display:flex;
        flex-direction:column;
    }

    .CustomTextInput{
        width:150px;
    }
}